RUST_LOG=
RUST_BACKTRACE =

# Bitcoin
OPERATOR_BTC_WALLET_ADDRESS=
OPERATOR_BTC_WALLET_PRIVATE_KEY=
PARADAPP_RECEIVE_PROGRAM=

# HEDERA
HEDERA_OPERATOR_PRIVATE_KEY=
HEDERA_BTC_ROOT_XPUB=
HEDERA_BTC_MNEMONIC=

# ETH
ETH_SEPOLIA_OPERATOR_PRIVATE_KEY=
ETH_SEPOLIA_BTC_ROOT_XPUB=
ETH_SEPOLIA_BTC_MNEMONIC=

# Redis
REDIS_URL=
