RUST_LOG=
RUST_BACKTRACE =

# Bitcoin
BTC_NETWORK=
ESPLORA_BASE=
MEMPOOL_API=
OPERATOR_BTC_WALLET_ADDRESS=
OPERATOR_BTC_WALLET_PRIVATE_KEY=
BTC_ROOT_XPUB=
PARADAPP_RECEIVE_PROGRAM=
BTC_MNEMONIC=

# HEDERA CONFIG
HEDERA_RPC=
HEDERA_CONTRACT=
HEDERA_OPERATOR_PRIVATE_KEY=

# ETH CONFIG
ETH_SEPOLIA_RPC=
ETH_SEPOLIA_CONTRACT=
ETH_SEPOLIA_OPERATOR_PRIVATE_KEY=

#SQLITE
SQLITE_DB_DIR=
